<% const imagePath='/assets/img/' ; %>
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- ogp -->
        <!-- <meta property="og:site_name" content="サイト名" />
        <meta property="og:url" content="URL" />
        <meta property="og:type" content="website" />
        <meta property="og:title" content="ページのタイトル" />
        <meta property="og:description" content="ページの説明" />
        <meta property="og:image" content="URL" />
        <meta name="twitter:card" content="summary_large_image or summary" />
        <meta name="twitter:description" content="ページの説明" />
        <meta name="twitter:image:src" content="URL" />
        <meta property="fb:app_id" content="AppID" /> -->

        <!-- favicon -->
        <!-- <link rel="icon" href="favicon.ico" />
        <link rel="icon" href="favicon.svg" type="image/svg+xml" />
        <link rel="apple-touch-icon" href="webclip.png" /> -->

        <title>title</title>
    </head>

    <body>
        <%- include("../components/header/header.ejs",{imagePath:imagePath}) %>
        <div id="main"></div>
        <%- include("../components/footer/footer.ejs",{imagePath:imagePath}) %>
    </body>
</html>
